.meal-generator {
    text-align: center;
  }
  
  .meal-generator button {
    margin: 10px 0;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .random-meal {
    max-width: 200px;
    max-height: 300px;
    margin-left: 560px;
  }
  
  .random-meal img {
    max-width: 200px;
    border-radius: 5px;
  }

  .meal-generator h1 {
    color: cadetblue;
  }
  