.menu {
  text-align: center;
  padding: 20px;
}

.menu h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: cadetblue;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add gap between the items */
  margin-inline-start: 200px; /* Add side margin to avoid overlapping with navbar */
}

.category-link {
  background-color:rgb(147, 147, 245);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-size: large;
}

.category-link:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}
